body {
    background-color: #4e4e50;
    color: white;
    text-align: center;
    font-family: Arial,sans-serif;
    min-width: 600px;
    margin: 20px;
}

input{
    width: 169px;
    margin-top: 3px;
    border-radius: 3px;
    padding-left: 3px;
}

select{
    position: absolute;
    margin-top: 3px;
    margin-left: 180px; /* a bit more than the size of the input */
    border: 2px solid rgb(168, 168, 168);
    border-radius: 3px;
}

span{
    position: absolute;
    margin-top: 6px;
    margin-left: 180px; /* a bit more than the size of the input */
}

.unknow{
    border: 2px solid rgb(154, 177, 255);
}

.validate{
    border: 2px solid rgb(100, 255, 100);
}

.error{
    border: 2px solid rgb(255, 100, 100);
}

button {
    background-color: rgb(73, 85, 248);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
}

#result{
    background-color: #5f5f61;
    margin: 0% 35% 50px 35%;
    padding: 35px 35px 35px 35px;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 54, 54);
}